.Discover{
    width: 100%;
}
.Discover h1{
    color: white;
    padding-top:4rem;
    padding-bottom: 2rem;
}
.Discover--Box{
     margin-top: 1rem;
     width: 90%;
}
.Discover--Planet img{
    border-radius: 50%;
    margin-right: 2rem;
}
.Discover--Planet{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2rem;
    padding: 2rem;
    margin-left: 2rem;
}
.Discover--Planet a{
    text-decoration: none;
    color: white;
}
.Discover--Planet a:hover{
    text-decoration: none;
    color: black;
}
