*{
  box-sizing: border-box;
  margin:0rem;
  padding:0rem;
  font-family: visbyLight, sans-serif;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 150%;
  color: #FFFFFF;
}

.App {
  /* background-color: #0B3D91; */
    color: #fff;
    font-family: visbyLight, sans-serif;
    background-color: #000;
  background-image: url('./Image/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
